.index-list {
	text-transform: capitalize;
	text-align: center;
}

.index-list input {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.index-list.parent {
	display: table;
	min-width: 100%;
}

.index-list.row-wrapper {
	display: table-row;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.index-list.header.row-wrapper {
	background-color: wheat;
	color: cadetblue;
}

.index-list.body.row-wrapper {
	background-color: aliceblue;
	color: rebeccapurple;
	cursor: pointer;
}

.index-list.body.row-wrapper:hover {
	background-color: rebeccapurple;
	color: aliceblue;
}

.index-list.cell {
	display: table-cell;
	padding: 10px 20px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.index-list.add-button {
	color: saddlebrown;
	background-color: lightgreen;
	color: lavenderblush;
	cursor: pointer;
}

.index-list.add-button:hover {
	background-color: green;
	color: whitesmoke;
}

.index-list.delete-button {
	width: 20px;
	background-color: lightgoldenrodyellow;
	color: mediumvioletred;
	cursor: pointer;
}

.index-list.delete-button:hover {
	background-color: red;
	color: whitesmoke;
}